/* ///////////////////////////SIGNUP/////////////////////  */

.signup-card-wrapper{
    margin-top: 1rem;
    height: 80vh;
}
.signup-card {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.signup-card .row>.col {
    
    padding: 0 !important;
}

.signup-card .logo {
    text-align: center;
    padding-top: 5%;
}

.signup-card .logo img {
    width: 200px;
    height: auto;
}

.signup-card .signup-option {
    width: 100%;
}
.signup-card .signup-option-wrapper .manual input{
    outline: none;
    border: navajowhite;
}
.signup-card .signup-option-wrapper .signup-option-inner-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding-top: 48px;
}
.signup-card .signup-option .btn {
    background-color: #c9b192;
    width: 100% !important;
    color: white;
}

.signup-card .step{
    padding: 10%;
}
.signup-card .signup-option-wrapper .row {
    /* gap: 50px; */
}

.signup-card .auto {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-card .signup-option-wrapper .auto .google {
    background-color: rgba(255, 0, 0, 0.839);
    color: white;
}

.signup-card .signup-option-wrapper .auto .facebook {
    background-color: rgba(0, 0, 255, 0.831);
    color: white;
}

@media screen and (max-width: 768px) {
    .signup-card .row {
        padding: 1%;
        /* height: 100vh; */
        display: flex;
        justify-content: center;
    }

    .signup-card .manual {
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.signup-card .form-section{
    background-color: #faebd78f;
}
.signup-card .form-section form {
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}


@media screen and (max-width: 768px) {
    .signup-card .image-section {
        display: none;
    }
}

.signup-card .image-section img {
    width: 100%; 
    height: 100%;
}
.signup-card .image-section .img-wrapper{
    height: 100%;
    /* overflow: hidden;
    border-top-right-radius: 12px ;
    border-bottom-right-radius: 12px ; */
}




.signup-card .step-2{
    /* padding: 8%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
.signup-card .step-2 .button-section{
    display: flex;
    justify-content: space-evenly;
}




.signup-card .step-3 .input-wrapper{
    /* display: flex; */
    /* gap: 10px; */
}

.signup-card .step-3 .button-section{
    display: flex;
    justify-content: space-evenly;
}

.signup-card .step-4 .option,
.signup-card .step-5 .option
{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
/* ///////////////////////////SIGNUP/////////////////////  */
